{% extends "base.html" %}
{% block content %}
<h2>Animals</h2>
<div class="row">
    {% for animal in animal_list %}
    <a href="{% url 'animals_detail' animal.id %}">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ animal.title }}</span>
                    <p>{{ animal.content }}</p>
                    <hr>
                    <p>Created By: {{ animal.user }}</p>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}