{% extends 'base.html' %}
{% block content %}

{% if object %}

<h1 class="center amber-text text-lighten-2">Edit {{ object.name }}</h1>

{% else %}

<h1 class="center amber-text text-lighten-2">Add Animal</h1>

{% endif %}
<!-- Leaving the action empty makes the form post to the same url used to display it -->
<div class="row">
  <div class="col s6 offset-s3">
    <form action="" method="post">
      <!-- Django requires the following for security purposes -->
      {% csrf_token %}
      <!-- Render the inputs inside of <tr>s & <td>s -->
      <!-- form is an instance of a ModelForm class -->

      {{form.as_p}}
      <input type="submit" value="Submit!" class="btn #ffd54f amber lighten-2 black-text waves-effect waves-dark">
    </form>
  </div>
</div>
<script>
  const selectEl = document.getElementById('id_diet');
  M.FormSelect.init(selectEl);

  const selectEl1 = document.getElementById('id_endangered');
  M.FormSelect.init(selectEl1);
</script>
{% endblock %}