{% extends 'base.html' %}
{% block content %}
{% if object %}
<h1>Edit <span class="teal-text">{{ object.name }}</span></h1>
{% else %}
<h1>Add Animal</h1>
{% endif %}
<!-- Leaving the action empty makes the form post to the same url used to display it -->
<form action="" method="post">
  <!-- Django requires the following for security purposes -->
  {% csrf_token %}
  <table>
    <!-- Render the inputs inside of <tr>s & <td>s -->
    <!-- form is an instance of a ModelForm class -->
    <div class="input-field">
      <tr>
        <td>
          {{ form.name }}
        </td>
      </tr>
    </div>
    <tr>
      <td>
        {{ form.species }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.family }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.diet }}
      </td>
    </tr>

  </table>
  <label>
    <input type="checkbox" name="endangered" id="id_endangered">
    <span>
      endangered
    </span>
  </label>
  <input type="submit" value="Submit!" class="btn">
</form>

<script>
  const selectEl = document.getElementById('id_diet');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}