{% extends "base.html" %}
{% block content %}
<h1 class="center amber-text text-lighten-2">Animals</h1>
<div class="center">
    <h6 class="amber-text text-lighten-2">Sort By:</h6>
    <a href="{%url 'animals_index'%}?sort=diet">Diet</a>
    |
    <a href="{%url 'animals_index'%}?sort=family">Family</a>
    |
    <a href="{%url 'animals_index'%}?sort=name">Name</a>
    |
    <a href="{%url 'animals_index'%}?sort=species">Species</a>
</div>
<div class="row">
    {% for animal in animal_list %}
    <a href="{% url 'animal_detail' animal.id %}">
        <div class="col s6">
            <div class="card medium #546e7a blue-grey darken-1">
                <div class="card-image">
                    <img src="{{ animal.photo_set.first.url }}">
                </div>
                <div class="card-content">
                    <span class="card-title">{{ animal.name }}</span>
                    <p>Created By: The One, The Only, The Legendary {{ animal.user }}</p>
                    <hr>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}