{% extends 'base.html' %}
{% block content %}
  <div class="center">
    <h1 class="amber-text text-lighten-2">Delete Animal</h1>
    <h4>Are you sure you want to delete <span class="amber-text text-lighten-2">{{ object.name }}</span>?</h4>
    <form action="" method="POST">
      {% csrf_token %}
      <input type="submit" value="Yes - Delete!" class="btn #ffd54f amber lighten-2 black-text waves-effect waves-dark">
    </form>
    <br>
    <a href="{% url 'animal_detail' animal.id %}">Cancel</a>
  </div>
{% endblock %}