{% extends "base.html" %}
{% block content %}
<h1 class="center amber-text text-lighten-2">Animal Details</h1>
<div class="row">
    <div class="col s12">
        <div class="card #ffd54f amber lighten-2">
            <div class="card-content">
                <span class="card-title">{{ animal.name }}</span>
                <p>Species: {{ animal.species }}</p>
                <hr>
                <p>Diet: {{ animal.get_diet }}</p>
                <p>Family: {{ animal.family }}</p>
                <p>Conservation Status: {{ animal.get_endangered }}</p>
                <hr>
                <p>Added by: {{ animal.user }}</p>
                <p>Fun Facts go below?</p>
                <br>
            </div>
            <div>
                <a href=" {% url 'animal_update' animal.id %}">EDIT</a>
                <a href=" {% url 'animal_delete' animal.id %}">DELETE</a>
            </div>
        </div>
        <div class="carousel carousel-slider">
            {% for photo in animal.photo_set.all %}
            <a class="carousel-item" href='#'><img src="{{photo.url}}"></a>
            <a href=" {% url 'remove_photo' animal.id %}">DELETE</a>
            {% empty %}
            <div class="card-panel black-text center-align card-panel #ffd54f amber lighten-2">No Photos Uploaded</div>
            {% endfor %}
        </div>
        <form action="{% url 'add_photo' animal.id %}" enctype="multipart/form-data" method="POST"
            class="card-panel #ffd54f amber lighten-2">
            {% csrf_token %}
            <input type="file" name="photo-file">
            <br><br>
            <input type="submit" class="btn #263238 blue-grey darken-3 amber-text text-lighten-2" value="Upload Photo">
        </form>
    </div>
    <div class="col s4">
        <form method="POST" action="{% url 'add_funfact' animal.id %}">
            {% csrf_token %}
            {{ funfact_form.as_p }}
            <input type="submit" value="Add Fun Fact"
                class="btn #ffd54f amber lighten-2 black-text waves-effect waves-dark">
        </form>
    </div>
    <ul>
        {% for funfact in animal.funfact_set.all %}
        <li class="grey-text text-lighten-2"> {{ funfact.fact }} </li>
        <li><a href="{% url 'like' animal.id funfact.id %}">👍 &nbsp; {{ funfact.like_set.count }}</a>
            |
            <a href=" {% url 'funfact_delete' funfact.id %}">DELETE</a>
        </li>

        {% endfor %}
    </ul>
</div>
<script>
    var instance = M.Carousel.init({
        fullWidth: true
    });
    // Or with jQuery
    $('.carousel.carousel-slider').carousel({
        fullWidth: true
    });
</script>
{% endblock %}