{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<nav>
    <div>
        <ul>
            <li><a href="{% url 'home' %}"> Exotica Gram Home </a></li>
            <li><a href="{% url 'about' %}"> About Exotica Gram </a></li>
            {% if user.is_authenticated %}
            <!-- other links go here. -->
            <li><a href="{% url 'animals_create' %}"> Add An Animal </a></li>
            <li><a href="{% url 'animals_index' %}"> View All Animals </a></li>
            <li><a href="{% url 'logout' %}"> Log Out</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}"> Sign Up</a></li>
            <li><a href="{% url 'login' %}"> Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<body>
    <main>
        {% block content %}

        {% endblock %}
    </main>
</body>

</html>