{% extends 'base.html' %}


{% block content %}

<h1 class="center amber-text text-lighten-2">Wildlife Charities</h1>
<hr>
<div id="charity">
    <p class="grey-text text-lighten-2">Explore the following charities and make a donation to help preserver at risk wildlife!</p>
    <br>
    <a href="https://www.wcs.org/">Wildlife Conservation Society</a>
    <br>
    <a href="https://www.gorilladoctors.org/">Gorilla Doctors</a>
    <br>
    <a href="https://www.awf.org/">African Wildlife Foundation</a>
    <br>
    <a href="https://www.americanwolf.org/">American Wolf Foundation</a>
    <p class="grey-text text-lighten-2">This website protected by the tardigang</p>
</div>
{% endblock %}