{% extends 'base.html' %}
{% block content %}

<h1 class="center amber-text text-lighten-2">ExoticA Home</h1>
<div class="container">
    <div class="carousel">
        {% for photo in photos|slice:"0:10" %}
        <a class="carousel-item" href="/animals/{{ photo.animal.id }}/"><img src="{{ photo.url }}"></a>
        {% endfor %}
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.carousel');
        var instances = M.Carousel.init(elems, options);
    });

    // Or with jQuery

    $(document).ready(function () {
        $('.carousel').carousel();
    });
</script>



{% endblock %}