{% extends 'base.html' %}
{% block content %}

<h1>ExoticA Home</h1>
<div class="container">
    <div class="carousel">
        <a class="carousel-item" href="#one!"><img src="https://i.imgur.com/SVcxgfg.png"></a>
        <a class="carousel-item" href="#two!"><img src="https://i.imgur.com/SVcxgfg.png"></a>
        <a class="carousel-item" href="#three!"><img src="https://i.imgur.com/SVcxgfg.png"></a>
        <a class="carousel-item" href="#four!"><img src="https://i.imgur.com/SVcxgfg.png"></a>
        <a class="carousel-item" href="#five!"><img src="https://i.imgur.com/SVcxgfg.png"></a>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.carousel');
        var instances = M.Carousel.init(elems, options);
    });

    // Or with jQuery

    $(document).ready(function () {
        $('.carousel').carousel();
    });
</script>



{% endblock %}